html{
    font-size: 22px;
    max-height: 100vh;
    background-color: rgb(255, 255, 255);
}
body{
    
    max-width: 700px;
    margin: 0px auto;
    border: 1px solid #333;
    padding: 0px 20px;
}
h1{
    text-align: center;
}

th,td,caption{
    border: 1px solid #333;
    font-family: 'Courier New', Courier, monospace;
    border-collapse: separate;
    padding: 0.5rem;
}

a{
    text-decoration: none;
    color: rgb(206, 117, 9);
    
}


